registry=http://localhost:4873/

//localhost:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJsdWNhcyIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJuYW1lIjoibHVjYXMiLCJncm91cHMiOlsibHVjYXMiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNjYwODMwMzI1LCJuYmYiOjE2NjA4MzAzMjYsImV4cCI6MTY2NjAxNDMyNX0.nmb-k378gbAjR2C11JahC2R_QORX9IN78zBdoC0y-Dc
